<footer class="post-info">
        <span id="article-date-span"><em>{{ article.locale_date }}</em></span>
        {% if article.author and DISPLAY_AUTHOR_ON_POSTINFO %}
        	<span>| by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_POSTINFO %}
	        <span>| in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
        {% endif %}
{% include 'taglist.html' %}
</footer><!-- /.post-info -->
