{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
	<section id="one">
	{% for article in articles_page.object_list %}
		{# First item #}
		{% if loop.first and articles_page.has_previous %}
        	<section id="content" class="body">
			<ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
		{% endif %}

		<header class="major">
			<h2 class="blog-post-title archive-header"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
		</header>
		<div class="post-preview">{% include 'article_infos.html' %}{{ article.summary }}{% include 'comments.html' %}
		</div>
		<div class="read-more-container">
			<a href="{{ SITEURL }}/{{ article.url }}">Read more</a>
		</div>
					
		{% if loop.length == 1 %}
			{% include 'pagination.html' %}
		{% endif %}

        {% if loop.last %}
            </ol><!-- /#posts-list -->
            {% if loop.last and (articles_page.has_previous()
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
	</section>
	
{% else %}
	<section id="content" class="body">
	<h2>Pages</h2>
		{% for page in PAGES %}
			<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</section>
{% endif %}

	
{% endblock content %}
